################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharpMVCWebAPIApplication/bin
/CSharpMVCWebAPIApplication.Tests/bin
/CSharpWebAPIApplication/bin
/CSharpWebFormsApplication/bin
/packages